<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
        <h1>Home Page</h1>
        <a href="{% url 'create' %}">Create News</a>

        {% for i in all_news %}
        <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="one" value="{{i.id}}">
                <button><i class="fa-solid fa-heart"></i>{{i.likes.count}}</button>
        </form>
        <h1>
                {{i.title}}
        </h1>
        <p>
                {{i.text}}
        </p>
        {% if i.rasm %}
        <img src="{{i.rasm.url}}" alt="rasm yoq" style="width: 600px;">

        {% endif %}
        {% endfor %}
</body>
</html>